# --------------------------
# Folders
# --------------------------
client/vendor/
dist/
doc/
http-logs/
https-logs/
logs/
node_modules/
tmp/


# --------------------------
# Files
# --------------------------
*.bak
*.crt
*.csr
*.css
*.csv
*.dat
*.gz
*.jar
*.key
*.log
*.out
*.p12
*.pem
*.pid
*.srl
*.swp
*.tmp
*.war
