# --------------------------
# Folders
# --------------------------
node_modules/
client/vendor/
dist/
tmp/
logs/
http-logs/
https-logs/

# --------------------------
# Files
# --------------------------
*.bak
*.css
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.swp
*.tmp
*.jar
*.war
*.crt
*.csr
*.key
*.p12
*.srl
*.pem