<div class="padding-20">

  <h1>Hello, {{dialogsdemo.title}}!</h1>


  <button class="btn btn-default" ng-click="dialogsdemo.showMessageDialog()">Show Message Dialog</button>
  <button class="btn btn-default" ng-click="dialogsdemo.showErrorDialog()">Show Error Dialog</button>
  <button class="btn btn-default" ng-click="dialogsdemo.showConfirmationDialog()">Show Confirmation Dialog</button>
  <button class="btn btn-default" ng-click="dialogsdemo.showCustomDialog()">Show Custom Dialog</button>

</div>