<!--
    A simple confirmation dialog that allows you to customize the title and confirmation message.
-->

<div class="modal-header alert-success">
    <button type="button" class="close" ng-click="close()" ng-hide="data._backdrop === 'static'" aria-hidden="true">&times;</button>
    <h3 class="modal-title">
      <i class="fa fa-thumbs-o-up"></i>
      {{data._modalTitle}}
    </h3>
</div>

<div class="modal-body">
    <p>{{data.message}}</p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{data._okText}}</button>
    <button class="btn btn-warning" ng-click="no()">{{data._cancelText}}</button>
</div>